


h1{text-align:center;
  font-style: normal;
  background-color: rgb(0, 179, 172);
  display: center;
  
  cursor: pointer;
  
}
h1:hover{text-decoration: underline;}
  h2{text-align:left;
    margin-inline-start: 25px;}
    h2:hover{text-decoration:underline;}

  .history-net{font-weight: bold;
  text-align:left;line-height: 35px;
  width: 550px;
  

color: rgb(102, 102, 102);
;margin-inline-start: 25px;}

  .roy-mutua{color: rgb(0, 128, 128);
  cursor:pointer;
font-family: Arial ;
font-size: 20px;
font-style: normal;
font-weight: 700;
display: inline;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: left;
text-decoration-line: none;
text-decoration-style: solid;
margin-inline-start: 25px;
}
.roy-mutua:hover {text-decoration:line-through;}

 .works-net{font-weight: bold;text-align:left;
  line-height:35px;
  width: 550px;
color:rgb(102, 102, 102) ;
margin-inline-start: 25px;}

.uses-net{font-weight: bold;text-align:left;
  line-height: 35px;
  width: 550px;
color:rgb(102, 102, 102) ;
margin-inline-start: 25px;}
 h4{display: block;
font-size: larger;
margin-inline-start: 25px;}

u{color:rgb(0, 124, 173);
cursor: pointer;
line-height: 35px;}
li{
  line-height: 35px;
}

.table{
  line-height: 24px;
}

h3{margin-inline-start: 25px;}

.images{width: 100%;
margin-bottom: 50px;
margin-left: 30px; }

.thumbnail{
  width: 90%;
  
}


.search{
display:block;}


.container{
    max-width: 980px;
    margin: auto;
}




.it{text-align:left;
  line-height: 24px;
  width: 1000px;
color:rgb(102, 102, 102) ;
margin-inline-start: 25px;}

li{font-weight: bold;text-align:left;
  line-height: 24px;
  width: 50%;
color:rgb(102, 102, 102) ;
margin-inline-start: 25px;}

.pc{display:inline-block;
  font-family:Arial;font-weight: bold;text-align:left;
     line-height: 24px;
     width: 1000px;
   color:rgb(102, 102, 102) ;
   margin-inline-start: 25px;
   }


   @media only screen and(max-width:2000px){
    

   }
    
    
      
    
   
    
   
   

   
  


